.header{
  height:150px;
  width:100%;
  background-color: #E9EEF6;
  display:flex;
  justify-content: space-between; 
  border-bottom: 4px solid;
  background-image:url('https://t4.ftcdn.net/jpg/03/60/97/91/360_F_360979143_v7xart5p5Z7AgUx8SFGRYtT3R0GZuOaf.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
/*https://t4.ftcdn.net/jpg/04/53/80/77/360_F_453807754_wT0MTOEGl0DRjF3hNgwHIWxdo01PEwBS.webp */
/*https://t4.ftcdn.net/jpg/03/60/97/91/360_F_360979143_v7xart5p5Z7AgUx8SFGRYtT3R0GZuOaf.webp*/
.title-div{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 85px;
}

.profile-div{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin-left: 7px;
  margin-right: 7px;
}

.image{
  width:80px;
  height:80px;
  border-radius: 50%;
}

.card-container{
  height: 300px;
  width: 300px;
  box-shadow: 0px 3px 50px #A5A5A5;
}

.card-wrapper{
  width: 270px; 
  height: 200px; 
  box-shadow: 0px 3px 50px #A5A5A5;
  display: flex;
  flex-direction: column;
  margin-top:20px;
}

.card-top{
  width: 100%;
  height: 2%;
}

.task-holder{
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display : flex;
  flex-direction: column;
  position: relative;
  background-color: #F6F7F8;
  
}

.card-header{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  max-width: max-content;
  height: 30px;
  padding: 1px 10px !important;
  text-align: center;
  border: 2px solid;
  overflow: hidden;
}

.task-container{
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding : 40px 100px;
}

.card-desc{
    word-wrap: break-word;
    margin-left: 10px;
    max-width: 250px;
    flex-grow: 1;
    margin-bottom: 23px;
    overflow: auto;
    max-height: 97px;
}

#my-heading {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  list-style: none;
  padding-left: 0;
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 20px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width:250px;
  height: 200px;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 65%;
  width: 97px;
  height: 97px;
  bottom: -97px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 7%;
  width: 95px;
  height: 95px;
  bottom: -95px;
  animation-delay: 2s;
}
.background li:nth-child(2) {
  left: 41%;
  width: 135px;
  height: 135px;
  bottom: -135px;
  animation-delay: 4s;
}
.background li:nth-child(3) {
  left: 36%;
  width: 111px;
  height: 111px;
  bottom: -111px;
  animation-delay: 3s;
}
.background li:nth-child(4) {
  left: 35%;
  width: 140px;
  height: 140px;
  bottom: -140px;
  animation-delay: 3s;
}
.background li:nth-child(5) {
  left: 60%;
  width: 99px;
  height: 99px;
  bottom: -99px;
  animation-delay: 11s;
}
.background li:nth-child(6) {
  left: 74%;
  width: 104px;
  height: 104px;
  bottom: -104px;
  animation-delay: 14s;
}
.background li:nth-child(7) {
  left: 79%;
  width: 105px;
  height: 105px;
  bottom: -105px;
  animation-delay: 3s;
}
.background li:nth-child(8) {
  left: 51%;
  width: 79px;
  height: 79px;
  bottom: -79px;
  animation-delay: 6s;
}
.background li:nth-child(9) {
  left: 69%;
  width: 114px;
  height: 114px;
  bottom: -114px;
  animation-delay: 17s;
}
.background li:nth-child(10) {
  left: 71%;
  width: 84px;
  height: 84px;
  bottom: -84px;
  animation-delay: 13s;
}
.background li:nth-child(11) {
  left: 89%;
  width: 132px;
  height: 132px;
  bottom: -132px;
  animation-delay: 34s;
}
.background li:nth-child(12) {
  left: 2%;
  width: 98px;
  height: 98px;
  bottom: -98px;
  animation-delay: 6s;
}

